@import url('normalize.css');
@font-face {
	font-family:'RaphaelIcons';
    src: url('raphaelicons-webfont.eot');
    src: local('☺'), 
		url('fonts/raphaelicons-webfont.woff') format('woff'), 
		url('fonts/raphaelicons-webfont.ttf') format('truetype'), 
		url('fonts/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* General Demo Style */
body{
	font-family: Georgia, serif;
	background: #ddd;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}
a{
	color: #555;
	text-decoration: none;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

#author { position: absolute; top: -8px; right: 5px; z-index: 1000; font-size: 11px; color: #aaa; font-weight: 500; font-family: '微软雅黑', sans-serif; }
#author a:hover { text-decoration: underline; }

#ledtimer { position: absolute; top: 20px; right: 5px; z-index: 1000; color: #f0a; height: 20px; font-family: 'Engravers MT', Elephant, '微软雅黑', sans-serif; font-size: 18px; font-weight: 500; }
#ledtimer span { font-size: 12px; font-weight: 400; }

#contactform { z-index: 9999; }

fieldset{ width:600px; background: rgba(250,250,250,.5); padding: 15px; position: absolute; bottom: 65px; left: 3%;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
}
fieldset .btn{ margin:0 auto; float:right; width:205px; margin-top: 60px; }
.btn{ display:inline; height:64px; padding:0 10px; line-height:64px; text-align:center; color: #1e1e1e; letter-spacing:2px; background-color: #d20000; font-size:17px; font-family: '微软雅黑', sans-serif; border: 0; border-radius: 10px; }
.btn:hover{ background-color: #1e1e1e; color: #fff; }

input#name { width: 250px; margin-right: 28px; }
label { margin-right: 0px; margin-top: 30px; }
input#email { width: 285px; position: relative; display: inline; }

fieldset .txtfield{ height:40px; line-height: 40px; text-align:left; color:#666; font-size: 17px; font-family: '微软雅黑', sans-serif; padding:5px 10px; border:1px solid #ffeaea; background-color: #ffeaea; margin: 0 auto; vertical-align: middle; display: inline;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        -moz-box-shadow: inset 0 1px 1px #ffd9d9;
        -webkit-box-shadow: inset 0 1px 1px #ffd9d9;
        box-shadow: inset 0 1px 1px #ffd9d9;
}
fieldset textarea{ resize: none; width:350px; padding:15px; height:140px; border:1px solid #ffeaea; color:#666; font-size:17px; line-height:21px; font-family: '微软雅黑', sans-serif; margin-top:20px; background-color: #ffeaea; margin-right: 3px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        -moz-box-shadow: inset 0 1px 1px #ffd9d9;
        -webkit-box-shadow: inset 0 1px 1px #ffd9d9;
        box-shadow: inset 0 1px 1px #ffd9d9;
}

input:focus, textarea:focus{ border: none; color:#084c55; }

fieldset input.error, fieldset textarea.error{ border:2px solid #d20000; color:#d20000; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }

