.st-container { position: absolute; width: 100%; height: 100%; top: 0; left: 0; font-family: '微软雅黑', sans-serif; }

.st-container > input,
.st-container > a {
	position: fixed; bottom: 0px; width: 20%; cursor: pointer; font-size: 16px; height: 44px; line-height: 44px; 
}

.st-container > input { opacity: 0; z-index: 1000; }
.st-container > a { z-index: 10; font-weight: 600; background: #1496d2; color: #fff; text-align: center; text-shadow: 1px 1px 1px rgba(151,24,64,0.2); }

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.st-container:before { content: ''; position: fixed; width: 100%; height: 44px; background: #1496d2; z-index: 9; bottom: 0; }

#st-control-1, #st-control-1 + a { left: 0; }
#st-control-2, #st-control-2 + a { left: 20%; }
#st-control-3, #st-control-3 + a { left: 40%; }
#st-control-4, #st-control-4 + a { left: 60%; }
#st-control-5, #st-control-5 + a { left: 80%; }

.st-container > input:checked + a,
.st-container > input:checked:hover + a{
	background: #1e1e1e;
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
	bottom: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #d20000;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
	opacity: 0.8;
}

.st-container > input:hover + a{ background: #d20000; }
.st-container > input:hover + a:after { border-bottom-color: #d20000; }

.st-scroll, .st-panel { position: relative; width: 100%; height: 100%; }

.st-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.st-panel{ background: #fff; overflow: hidden; } 

#st-control-1:checked ~ .st-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}

/* Content elements */
.st-panel h2 {
	color: #1e1e1e;
	text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
	position: absolute;
	font-size: 50px;
	font-weight: 900;
	width: 88%;
	left: 6%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
}

.st-panel h1 {
	color:red;
}

#st-panel-1 h2 { text-align: center; color: #FF0000; }
#st-panel-4 h2 { text-align: right; color: #d20000; }
#st-panel-5 h2 { text-align: left; color: #d20000; }

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { -webkit-transform: translateY(-40px);  opacity: 0; }
	100% { -webkit-transform: translateY(0px); opacity: 1;}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% { 
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.st-panel p {
	position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
	z-index: 2;
	padding: 0;
	width: 88%;
	left: 6%;
	top: 50%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}
#st-panel-1 { background-image: url('../images/1.jpg'); background-position: 100% 100%; background-size: cover; }
#st-panel-2 { background-image: url('../images/2.jpg'); background-position: 100% 40%; background-size: cover; }
#st-panel-4 { background-image: url('../images/4.jpg'); background-position: 100% 50%; background-size: cover; }
#st-panel-5 { background-image: url('../images/5.jpg'); background-position: 100% 50%; background-size: cover; }

#st-control-2:checked ~ .st-scroll #st-panel-2 p { background: rgba(255,255,255,.5); color: #1e1e1e; font-size: 16px; font-weight: 500; padding: 5px; }
#st-control-4:checked ~ .st-scroll #st-panel-4 p { text-align: right; color: #d20000; font-size: 16px; font-weight: 500; }
#st-control-4:checked ~ .st-scroll #st-panel-5 p { text-align: left; color: #d20000; font-size: 16px; font-weight: 500; }
#st-control-1:checked ~ .st-scroll #st-panel-1 p { text-align: center; color: #DC143C; font-size: 16px; font-weight: 500; }
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { transform: translateY(40px); opacity: 0; }
	100% { transform: translateY(0px); opacity: 1; }
}

/* Colored sections */

.st-color {background: #fff; }
.st-color [data-icon]:after { color: #d20000; }

.st-color h2 { color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); } 
.st-color p { color: #fff; color: rgba(255,255,255,0.8); }

@media screen and (max-width: 520px) {
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
}
@media screen and (max-width: 360px) {
	.st-container > a {
		font-size: 10px;
	}
}

.ri-grid{
	margin: 0 auto;
	position: relative;
	height: auto;
}

.ri-grid-loading{
	width: 200px;
	height: 200px;
	background: transparent url(../images/loading.gif) no-repeat center center;
}

.ri-grid ul {
	list-style: none;
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Clear floats by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.ri-grid ul:before,
.ri-grid ul:after{
	content: '';
    display: table;
}

.ri-grid ul:after {
    clear: both;
}

.ri-grid ul {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
} 

.ri-grid ul li {
	-webkit-perspective: 400px;
	-moz-perspective: 400px;
	-o-perspective: 400px;
	-ms-perspective: 400px;
	perspective: 400px;	
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	background: #000;
}

.ri-grid ul li a{
	display: block;
	outline: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #333;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

/* Grid wrapper sizes */
.ri-grid-size-1{
	width: 55%;
}
.ri-grid-size-2{
	width: 100%;
}
.ri-grid-size-3{
	width: 100%;
	margin-top: 0px;
}

/* Shadow style */
.ri-shadow:after,
.ri-shadow:before{
	content: "";
	position: absolute;
	z-index: -2;
	bottom: 15px;
	left: 10px;
	width: 50%;
	height: 20%;
	max-width: 300px;
	max-height: 100px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.ri-shadow:after{
	right: 10px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

.ri-grid-loading:after,
.ri-grid-loading:before{
	display: none;
}